.mapboxgl-control-container {
  display: none;
}

.mapboxgl-map {
  overflow: hidden;
}

.location-search-results {
  background: white;
  width: 90%;
  border: 1px solid #c2c2c2;
  height: 120px;
  position: absolute;
  overflow-y: auto;
  z-index: 3;
  top: 50px;
  display: none;
}

.form-section {
  position: relative;
}

.location-search-results.active {
  display: block;
}

.location-result:hover {
  background: #c2c2c2;
  cursor: pointer;
}

.default-btn.seller {
  width: 90%;
}

@media only screen and (max-width: 768px) {
  .location-search-results {
    width: 100%;
  }
  .default-btn.seller {
    width: 100%;
  }
  .col-md-4.register-page-col {
    display: none;
  }
}
